@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
a:link{
    color:rgba(83, 18, 126, 0.9);
}
a:visited{
    color:rgba(58, 10, 90, 0.9);
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p{
    font-size: 2.2rem;
    margin-top: 2px;
    line-height: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

ul{
    font-size: 2.2rem;
    margin-top: 2px;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 0.07rem;
    color: transparent;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title{
    font-size: 5rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 2px;
    margin-top: 2px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

#footer{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0%;
    text-align: center;
    justify-content: center;
    display: flex;
}

/* Seção de apresentação */

#presentation{
    background-image: url(./lorbgcss.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#presentation h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#presentation h1:nth-child(1){
    animation-delay: 1s;
}
#presentation h1:nth-child(2){
    animation-delay: 2s;
}    
#presentation h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#presentation .cta{
   display: inline-block;
   padding: 10px 30px;
   color: rgb(255, 140, 0); 
   background-color: transparent;
   border: 2px solid rgb(255, 140, 0);
   font-size: 2rem;
   text-transform: uppercase;
   letter-spacing: .1rem;
   margin-top: 20px;
   transition: .3s ease;
   transition-property: background-color, color;
}
#presentation .cta:hover{
    color: white;
    font-weight: 400;
    background-color:  rgb(255, 140, 0);
}

#presentation h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color:  rgb(255, 140, 0);
}
#presentation h1:nth-child(1) span{
    animation-delay: .5s; 
}
#presentation h1:nth-child(2) span{
    animation-delay: 1.5s; 
}
#presentation h1:nth-child(3) span{
    animation-delay: 2.5s; 
}

#presentation::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

/* Seção de portifólio */ 

#portfolio{
    background-image: linear-gradient(93deg, rgb(0, 0, 0) 1%, rgb(13, 1, 5) 10%, rgb(19, 9, 16) 20%, rgb( 0, 33, 59) 30%, rgb(31, 33, 72) 40%, rgb(89, 2, 57) 100%);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#portfolio .portfolio{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#portfolio .portfolio-header h1{
    margin-bottom: 30px;
}

#portfolio .all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#portfolio .project-info{
    padding: 40px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(50deg, orange 0%, rgb(202, 117, 26) 100%);
    color: white;
}

#portfolio .project-info h1{
    font-size: 3rem;
    font-weight: 400;
}

#portfolio .project-info h2{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 8px;
}

#portfolio .project-info p{
    color: black;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 8px;
}

#portfolio .project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;    
}

#portfolio .project-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, rgba(255, 174, 0, 0.005) 0%, rgba(237, 118, 20, 0.300) 100%);
    opacity: 0.6;
}

#portfolio .project-img img{
    transition: 0.4s ease transform;
}

#portfolio .project-item:hover .project-img img{
    transform:  scale(1.1);
}

/* keyframes */
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: orange;
        font-weight: 400px;
    }
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

/* Media Query */
@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info {
        height: 100%;
    }
    #portfolio .all-projects .project-img {
        height: 100%;
    }
    #portfolio .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
}
#footer{
    background-color: darkorange;
    width: 60%, center;
    align-items: center;
    position: relative;
}